#Actividad Extracción de Datos
-------------------------------------

####Jose Israel Perez Ontiveros | A01423294

## 1. Importar librerias

In [48]:
import pandas as pd

## 2. Carga de archivo XLSX

In [49]:
df = pd.read_excel('./Recursos/Datos de Facturación.xlsx')
display(df)

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

# 3. Filtros

### 3.1 CVE_CLPV (valores: 1000 a 2000)

In [50]:
# Limpieza de datos con replace
df.CVE_CLPV = df.CVE_CLPV.replace({'O':'0'}, regex=False)
df.CVE_CLPV = df.CVE_CLPV.replace({'6781|':'6781'}, regex=False)
df.CVE_CLPV = df.CVE_CLPV.replace({'3612C':'3612'}, regex=False)
df.CVE_CLPV = df.CVE_CLPV.replace({'      ':'0'}, regex=False)
df.CVE_CLPV = df.CVE_CLPV.replace({'2385A':'2385'}, regex=False)
df.CVE_CLPV = df.CVE_CLPV.replace({'2510A':'2510'}, regex=False)
df.CVE_CLPV = df.CVE_CLPV.replace({'8440Q':'8440'}, regex=False)
df.CVE_CLPV = df.CVE_CLPV.replace({'M':'0'}, regex=False)

# Convierte la columna 'CVE_CLPV' a enteros
df['CVE_CLPV'] = df['CVE_CLPV'].astype(float)

# Aplicar Filtro
filtro1 = df[(df['CVE_CLPV'] >= 1000) & (df['CVE_CLPV'] <= 2000)]
display(filtro1)

# Guardar filtro en CSV
filtro1.to_csv("./Filtros/Act1.2/Filtro1.csv")

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
18,F29432,1965.0,C,2.0,2019-09-05 11:05:04.000,2019-09-05,2019-09-05 00:00:00,2019-09-20,2019-09-06,976.50,0.00,0.0
22,F29436,1965.0,C,2.0,2019-09-06 12:01:36.000,2019-09-06,2019-09-06 00:00:00,2019-09-21,2019-09-12,976.50,0.00,0.0
65,F29479,1240.0,E,2.0,2019-09-11 18:38:45.000,2019-09-11,2019-09-11 00:00:00,2019-09-11,NaT,4135.00,0.00,0.0
71,F29485,1965.0,C,2.0,2019-09-12 12:14:28.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,2019-09-12,976.50,146.48,0.0
72,F29486,1965.0,E,2.0,2019-09-12 12:25:52.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,NaT,976.50,146.48,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10821,F40237,1757.0,E,2.0,2023-02-24 15:18:17.570,2023-02-24,2023-02-13 00:00:00,2023-02-24,NaT,10088.40,0.00,0.0
10839,F40255,1583.0,E,2.0,2023-02-28 09:15:45.753,2023-02-28,2023-02-28 00:00:00,2023-03-30,NaT,3467.35,0.00,0.0
10845,F40261,1786.0,E,2.0,2023-02-28 11:15:32.527,2023-02-28,2023-03-03 00:00:00,2023-02-28,NaT,4663.80,0.00,0.0
10871,F40287,1453.0,E,1.0,2023-03-01 12:58:23.397,2023-03-01,2023-02-27 00:00:00,2023-03-31,NaT,9000.00,0.00,0.0
10876,F40292,1082.0,E,6.0,2023-03-02 11:00:54.770,2023-03-02,2023-03-01 00:00:00,2023-03-02,NaT,3262.00,0.00,0.0

### 3.2 CVE_VEND (Todas las claves excepto “5” y “4”)

In [51]:
display(df.groupby(['CVE_VEND'])['CVE_VEND'].count())

# Filtrar las filas donde CVE_VEND no sea "4" ni "5"
filtro2 = df[~df['CVE_VEND'].isin([4, 5])]

display(filtro2.groupby(['CVE_VEND'])['CVE_VEND'].count())

# Guardar filtro en CSV
filtro2.to_csv("./Filtros/Act1.2/Filtro2.csv")

CVE_VEND
1.0      959
2.0     7706
3.0      914
4.0      382
5.0      423
6.0      442
7.0        1
9.0        1
10.0       6
11.0      12
12.0       1
Name: CVE_VEND, dtype: int64

CVE_VEND
1.0      959
2.0     7706
3.0      914
6.0      442
7.0        1
9.0        1
10.0       6
11.0      12
12.0       1
Name: CVE_VEND, dtype: int64

### 3.3 FECHA_ENT (Fechas de “13/04/2022  0:00:00”)

In [52]:
df['FECHA_ENT'] = pd.to_datetime(df['FECHA_ENT'], format='%Y-%m-%d %H:%M:%S',  errors='coerce')

# Filtrar las filas donde FECHA_ENT sea igual a "13/04/2022 0:00:00"
fecha = pd.to_datetime("13/04/2022 0:00:00")
filtro3 = df[df['FECHA_ENT'] == fecha]

display(filtro3)

# Guardar filtro en CSV
filtro3.to_csv("./Filtros/Act1.2/Filtro3.csv")

/var/folders/nw/4ll_ynfx23vd7yx9xn6sf5580000gn/T/ipykernel_1471/2564437068.py:4: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  fecha = pd.to_datetime("13/04/2022 0:00:00")

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
8472,F37888,6568.0,E,2.0,2022-04-12 10:36:19.707,2022-04-12,2022-04-13,2022-04-12,NaT,3015.0000,0.0,0.0
8482,F37898,6979.0,E,2.0,2022-04-13 09:46:22.043,2022-04-13,2022-04-13,2022-04-13,NaT,1265.0900,0.0,0.0
8485,F37901,8132.0,E,2.0,2022-04-13 11:48:20.543,2022-04-13,2022-04-13,2022-04-13,NaT,1188.7491,0.0,0.0
8486,F37902,7098.0,E,2.0,2022-04-13 13:00:25.943,2022-04-13,2022-04-13,2022-04-13,NaT,378.0000,0.0,0.0
8488,F37904,6573.0,E,2.0,2022-04-13 13:59:18.497,2022-04-13,2022-04-13,2022-04-13,NaT,200.0000,0.0,0.0
8489,F37905,6573.0,E,2.0,2022-04-13 14:03:21.653,2022-04-13,2022-04-13,2022-04-13,NaT,2495.6896,0.0,0.0
8491,F37907,2370.0,E,6.0,2022-04-13 15:38:42.743,2022-04-13,2022-04-13,2022-04-13,NaT,3701.3600,0.0,0.0
8495,F37911,4503.0,E,2.0,2022-04-13 17:20:20.033,2022-04-13,2022-04-13,2022-04-13,NaT,240.0000,0.0,0.0
8497,F37913,5926.0,E,2.0,2022-04-13 17:32:46.633,2022-04-13,2022-04-13,2022-04-13,NaT,206.1000,0.0,0.0
8506,F37922,4889.0,E,6.0,2022-04-19 11:16:51.107,2022-04-19,2022-04-13,2022-04-19,NaT,4717.3500,0.0,0.0
8510,F37926,4649.0,E,2.0,2022-04-19 14:03:18.947,2022-04-19,2022-04-13,2022-04-19,NaT,2077.5000,0.0,0.0
8523,F37939,2730.0,E,2.0,2022-04-21 10:26:18.843,2022-04-21,2022-04-13,2022-04-21,NaT,1035.0000,0.0,0.0
8527,F37943,6119.0,E,2.0,2022-04-21 12:49:43.633,2022-04-21,2022-04-13,2022-04-21,NaT,3318.0006,0.0,0.0
8537,F37953,8440.0,E,2.0,2022-04-22 11:11:49.590,2022-04-22,2022-04-13,2022-04-22,NaT,2289.9700,0.0,0.0
8540,F37956,6152.0,E,3.0,2022-04-22 15:10:48.470,2022-04-22,2022-04-13,2022-04-30,NaT,4155.0000,0.0,0.0
8555,F37971,5068.0,E,2.0,2022-04-25 14:40:45.877,2022-04-25,2022-04-13,2022-06-09,NaT,2790.7000,0.0,0.0
8879,F38295,5926.0,E,2.0,2022-06-02 11:07:38.387,2022-06-02,2022-04-13,2022-06-02,NaT,1140.8600,0.0,0.0

### 3.4 CAN_TOT (Cantidades menores a 5951.7) o STATUS (“E”)

In [53]:
filtro4 = df[(df['CAN_TOT'] < 5951.7) | (df['STATUS'] == 'E')]

# Mostrar el DataFrame filtrado
display(filtro4)

# Guardar filtro en CSV
filtro4.to_csv("./Filtros/Act1.2/Filtro4.csv")

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465.0,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926.0,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926.0,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926.0,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813.0,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218.0,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01,2023-03-07,NaT,517.20,0.0,0.0

### 3.5 Solo las columnas: CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT

In [54]:
# Seleccionar las columnas deseadas
filtro5 = df[['CVE_DOC', 'FECHA_ENT', 'FECHA_VEN', 'CAN_TOT']]

display(filtro5)

# Guardar filtro en CSV
filtro5.to_csv("./Filtros/Act1.2/Filtro5.csv")

      CVE_DOC  FECHA_ENT  FECHA_VEN  CAN_TOT
0      F29414 2019-09-03 2019-09-18  3980.00
1      F29415 2019-09-03 2019-10-03  1550.00
2      F29416 2019-09-03 2019-10-03  1550.00
3      F29417 2019-09-03 2019-10-03  1550.00
4      F29418 2019-09-03 2019-09-03  2435.44
...       ...        ...        ...      ...
10890  F40306 2023-03-01 2023-03-06  3272.00
10891  F40307 2023-03-06 2023-03-06   504.15
10892     NaN 2023-03-06 2023-03-06   275.68
10893  F40309 2023-03-07 2023-03-07   129.30
10894  F40310 2023-03-01 2023-03-07   517.20

[10895 rows x 4 columns]

### 3.6 Solo las filas de 7001-7099

In [55]:
filtro6 = df.iloc[7000:7100]
display(filtro6)

# Guardar filtro en CSV
filtro6.to_csv("./Filtros/Act1.2/Filtro6.csv")

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7000,F36416,3930.0,E,1.0,2021-10-15 08:19:30.557,2021-10-15,2021-10-19,2021-11-14,NaT,28305.00,0.0,0.0
7001,F36417,5271.0,E,3.0,2021-10-15 08:40:29.183,2021-10-15,2021-10-06,2021-11-14,NaT,8555.24,0.0,0.0
7002,F36418,5746.0,E,2.0,2021-10-15 08:51:03.463,2021-10-15,2021-10-14,2021-10-15,NaT,620.77,0.0,0.0
7003,F36419,2163.0,E,3.0,2021-10-15 08:56:23.280,2021-10-15,2021-10-15,2021-10-15,NaT,560.00,0.0,0.0
7004,F36420,1429.0,E,1.0,2021-10-15 09:01:08.393,2021-10-15,2021-10-15,2021-12-14,NaT,23625.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7095,F36511,4480.0,E,2.0,2021-10-27 13:07:43.223,2021-10-27,2021-10-27,2021-11-11,NaT,1137.50,0.0,0.0
7096,F36512,8186.0,E,2.0,2021-10-27 13:22:23.980,2021-10-27,2021-10-27,2021-10-27,NaT,94.84,0.0,0.0
7097,F36513,4403.0,E,2.0,2021-10-27 13:35:40.677,2021-10-27,2021-10-27,2021-10-27,NaT,847.00,0.0,0.0
7098,F36514,5589.0,E,2.0,2021-10-27 14:02:54.630,2021-10-27,2021-10-27,2021-10-27,NaT,965.00,0.0,0.0
7099,F36515,5589.0,E,2.0,2021-10-27 14:04:26.797,2021-10-27,2021-10-26,2021-10-27,NaT,2106.00,0.0,0.0

### 3.7 Index= CVE_VEND (valores: 1, 2)  (columna: FECHAELAB)

In [56]:
df.set_index("CVE_VEND", inplace=True)

filtro7 = df.loc[df.index.isin([1, 2]), "FECHAELAB"]
display(filtro7)

# Guardar filtro en CSV
filtro7.to_csv("./Filtros/Act1.2/Filtro7.csv")

CVE_VEND
1.0   2019-09-03 08:58:42.000
1.0   2019-09-03 09:55:14.000
1.0   2019-09-03 13:25:33.000
1.0   2019-09-03 13:33:23.000
2.0   2019-09-03 14:23:45.000
                ...
2.0   2023-03-06 16:09:39.013
2.0   2023-03-06 16:38:42.933
2.0   2023-03-06 17:02:33.390
2.0   2023-03-07 12:43:49.567
2.0   2023-03-07 12:45:58.407
Name: FECHAELAB, Length: 8665, dtype: datetime64[ns]