#Actividad Extracción de Datos
-------------------------------------

####Jose Israel Perez Ontiveros | A01423294

## 1. Importar librerias

In [1]:
import pandas as pd

## 2. Carga de archivo XLSX

In [2]:
df = pd.read_excel('./Recursos/Datos de Facturación.xlsx')
display(df)

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

# 3. Filtros

### 3.1 CVE_CLPV (valores: 1000 a 2000)

In [3]:
# Limpieza de datos con replace
df.CVE_CLPV = df.CVE_CLPV.replace({'O':'0'}, regex=False)
df.CVE_CLPV = df.CVE_CLPV.replace({'6781|':'6781'}, regex=False)
df.CVE_CLPV = df.CVE_CLPV.replace({'3612C':'3612'}, regex=False)
df.CVE_CLPV = df.CVE_CLPV.replace({'      ':'0'}, regex=False)
df.CVE_CLPV = df.CVE_CLPV.replace({'2385A':'2385'}, regex=False)
df.CVE_CLPV = df.CVE_CLPV.replace({'2510A':'2510'}, regex=False)
df.CVE_CLPV = df.CVE_CLPV.replace({'8440Q':'8440'}, regex=False)
df.CVE_CLPV = df.CVE_CLPV.replace({'M':'0'}, regex=False)

# Convierte la columna 'CVE_CLPV' a enteros
df['CVE_CLPV'] = df['CVE_CLPV'].astype(float)

# Aplicar Filtro
filtro1 = df[(df['CVE_CLPV'] >= 1000) & (df['CVE_CLPV'] <= 2000)]
display(filtro1)

# Guardar filtro en CSV
filtro1.to_csv("./Filtros/Act1.2/Filtro1.csv")

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
18,F29432,1965.0,C,2.0,2019-09-05 11:05:04.000,2019-09-05,2019-09-05 00:00:00,2019-09-20,2019-09-06,976.50,0.00,0.0
22,F29436,1965.0,C,2.0,2019-09-06 12:01:36.000,2019-09-06,2019-09-06 00:00:00,2019-09-21,2019-09-12,976.50,0.00,0.0
65,F29479,1240.0,E,2.0,2019-09-11 18:38:45.000,2019-09-11,2019-09-11 00:00:00,2019-09-11,NaT,4135.00,0.00,0.0
71,F29485,1965.0,C,2.0,2019-09-12 12:14:28.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,2019-09-12,976.50,146.48,0.0
72,F29486,1965.0,E,2.0,2019-09-12 12:25:52.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,NaT,976.50,146.48,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10821,F40237,1757.0,E,2.0,2023-02-24 15:18:17.570,2023-02-24,2023-02-13 00:00:00,2023-02-24,NaT,10088.40,0.00,0.0
10839,F40255,1583.0,E,2.0,2023-02-28 09:15:45.753,2023-02-28,2023-02-28 00:00:00,2023-03-30,NaT,3467.35,0.00,0.0
10845,F40261,1786.0,E,2.0,2023-02-28 11:15:32.527,2023-02-28,2023-03-03 00:00:00,2023-02-28,NaT,4663.80,0.00,0.0
10871,F40287,1453.0,E,1.0,2023-03-01 12:58:23.397,2023-03-01,2023-02-27 00:00:00,2023-03-31,NaT,9000.00,0.00,0.0
10876,F40292,1082.0,E,6.0,2023-03-02 11:00:54.770,2023-03-02,2023-03-01 00:00:00,2023-03-02,NaT,3262.00,0.00,0.0

### 3.2 CVE_VEND (Todas las claves excepto “5” y “4”)

In [4]:
display(df.groupby(['CVE_VEND'])['CVE_VEND'].count())

# Filtrar las filas donde CVE_VEND no sea "4" ni "5"
filtro2 = df[~df['CVE_VEND'].isin([4, 5])]

display(filtro2.groupby(['CVE_VEND'])['CVE_VEND'].count())

# Guardar filtro en CSV
filtro2.to_csv("./Filtros/Act1.2/Filtro2.csv")

CVE_VEND
1.0      959
2.0     7706
3.0      914
4.0      382
5.0      423
6.0      442
7.0        1
9.0        1
10.0       6
11.0      12
12.0       1
Name: CVE_VEND, dtype: int64

CVE_VEND
1.0      959
2.0     7706
3.0      914
6.0      442
7.0        1
9.0        1
10.0       6
11.0      12
12.0       1
Name: CVE_VEND, dtype: int64

### 3.3 Tercer filtro

In [18]:
#Filtro por columnas, de la 1 a la 5
filtro3 = df.iloc[:,1:5]
display(filtro3)

# Guardar filtro en CSV
filtro3.to_csv("./Filtros/Act1.1/Filtro3.csv")

      FECHA_DOC            NOMBRE_VENDEDOR                NOMBRE_CLIENTE  CANT
0    2022-01-05  LETICIA RAMIREZ HERNANDEZ            PÚBLICO EN GENERAL     1
1    2022-01-05  LETICIA RAMIREZ HERNANDEZ  JUAN ANTONIO RESENDIZ UGALDE     1
2    2022-01-05   DIEGO ARMANDO LEON DURAN     ANA BARBARA CRUZ PALACIOS     7
3    2022-01-05   DIEGO ARMANDO LEON DURAN          OMAR RODRIGUEZ GOMEZ     1
4    2022-01-05  LETICIA RAMIREZ HERNANDEZ            PÚBLICO EN GENERAL     2
...         ...                        ...                           ...   ...
1421 2022-12-23  LETICIA RAMIREZ HERNANDEZ     LUIS ENRIQUE PATIÑO PEREZ     6
1422 2022-12-23  LETICIA RAMIREZ HERNANDEZ     LUIS ENRIQUE PATIÑO PEREZ     6
1423 2022-12-23  LETICIA RAMIREZ HERNANDEZ          SEVEN DAYS ALL SPORT     3
1424 2022-12-23  LETICIA RAMIREZ HERNANDEZ           REVUELTA MONTECARLO     1
1425 2022-12-23         AARON NUÑO CORDOVA                CPEG SOLUTIONS    10

[1426 rows x 4 columns]

### 3.4 Cuarto filtro

In [20]:
#Volvemos a cargar el archivo xlsx para guardarlo en un nuevo DF, pero tomamos en cuenta la primer columna(CVE_DOC) como indice
df1 = pd.read_excel("./Recursos/Detalle precios y productos fabricados 2022.xlsx", index_col=0)

#Filtramos el nombre del vendedor y cliente por el indice indicado
filtro4 = df1.loc[["F39834", "F39837"],["NOMBRE_VENDEDOR", "NOMBRE_CLIENTE"]]
display(filtro4)

# Guardar filtro en CSV
filtro4.to_csv("./Filtros/Act1.1/Filtro4.csv")

                   NOMBRE_VENDEDOR             NOMBRE_CLIENTE
CVE_DOC
F39834   LETICIA RAMIREZ HERNANDEZ  LUIS ENRIQUE PATIÑO PEREZ
F39834   LETICIA RAMIREZ HERNANDEZ  LUIS ENRIQUE PATIÑO PEREZ
F39837   LETICIA RAMIREZ HERNANDEZ        REVUELTA MONTECARLO

### 3.5 Quinto filtro

In [21]:
#Filtrar por medio de la funcion head, que toma los primeros registros. En este caso los primero 10
filtro5 = df.head(10)
display(filtro5)

# Guardar filtro en CSV
filtro5.to_csv("./Filtros/Act1.1/Filtro5.csv")

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
5,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,237.07,49.41,49.41,474.14,98.82,187.66,375.32
6,F37044,2022-01-05,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,14000.00,5323.76,5323.76,14000.00,5323.76,8676.24,8676.24
7,F37046,2022-01-05,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,38.96,38.96,283.50,116.88,55.54,166.62
8,F37048,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11
9,F37049,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11

### Sexto filtro

In [22]:
# Filtro por variables cuantitativas, en este caso la columna de PRECIO_UNITARIO en donde su valor sea mayor a 1000
filtro6 = df[df["PRECIO_UNITARIO"] > 1000]
display(filtro6)

# Guardar filtro en CSV
filtro6.to_csv("./Filtros/Act1.1/Filtro6.csv")

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
6,F37044,2022-01-05,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,14000.00,5323.76,5323.76,14000.00,5323.76,8676.24,8676.24
8,F37048,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11
9,F37049,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11
10,F37050,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419,F39833,2022-12-23,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,BN00146,"BAN INOX 9""ØX3"" ANCH 1700W 230V T/CABLE",2020.42,421.91,421.91,4040.84,843.82,1598.51,3197.02
1420,F39833,2022-12-23,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,PT00079,PT-100 7.5MMØX95MM EXT.48CM 3H C/MACHO,1177.07,477.16,477.16,2354.14,954.32,699.91,1399.82
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

### Septimo filtro

In [23]:
# Filtro con conector logico and, en este caso utilzamos la columna COSTO_TOTAL_CALCULADO y buscamos los valores que sean mayores a 10000, asimismo, utilizamos la columna NOMBRE_VENDEDOR y buscamos la coincidencia con el nombre LETICIA RAMIREZ HERNANDEZ. Ambos parametros deben de cumplirse para guardar el registro
filtro7 = df[(df["COSTO_TOTAL_CALCULADO"] > 10000) & (df["NOMBRE_VENDEDOR"] == "LETICIA RAMIREZ HERNANDEZ")]
display(filtro7)

# Guardar filtro en CSV
filtro7.to_csv("./Filtros/Act1.1/Filtro7.csv")

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
615,F38221,2022-05-24,LETICIA RAMIREZ HERNANDEZ,TERMOFORMATEC,60,CAS00080,CAS INOX 18.5MMØX205MM 950W 440V EXT30CM,1296.00,0.0,244.07,77760.00,14643.92,1051.93,63116.08
1098,F39183,2022-09-29,LETICIA RAMIREZ HERNANDEZ,PAULINO ARREDONDO CARDENAS,30,TUA00247,"TUB INOX 7/16""Øx950mm U 2777W 440V BUSHI",1102.75,0.0,751.86,33082.50,22555.72,350.89,10526.78
1101,F39191,2022-09-30,LETICIA RAMIREZ HERNANDEZ,CAROLINA PEREZ GOMEZ,2,TUE00382,"TUB INOX 1/2""ØX80CM 80KW 440V ""U"" PLAC",17393.06,0.0,6073.50,34786.12,12146.99,11319.56,22639.13
1361,F39719,2022-12-07,LETICIA RAMIREZ HERNANDEZ,ROSA MARIA HERNANDEZ AGUILAR,25,CBS00092,CBS INOX 20MMØX68CM 1200W 254V EXT.25CM,1457.20,0.0,461.49,36430.00,11537.18,995.71,24892.82

### Octavo filtro

In [24]:
# Filtro con conector logico or, en este caso utilzamos la columna COSTO_TOTAL_CALCULADO y buscamos los valores que sean menores a 100, asimismo, utilizamos la columna FECHA_DOC y buscamos la coincidencia con la fecha 2022-12-23. Con uno de los parametros que se cumpla el registro se guardarda
filtro8 = df[(df["COSTO_TOTAL_CALCULADO"] < 100) | (df["FECHA_DOC"] == "2022-12-23")]
display(filtro8)

# Guardar filtro en CSV
filtro8.to_csv("./Filtros/Act1.1/Filtro8.csv")

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
5,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,237.07,49.41,49.41,474.14,98.82,187.66,375.32
13,F37053,2022-01-05,DIEGO ARMANDO LEON DURAN,SANDIBEEL BECERRA HURTADO,1,BO00051,BOB 8020 CAL.26 127V BAS28.5CMX27CM MICA,1485.25,0.00,86.22,1485.25,86.22,1399.03,1399.03
20,F37061,2022-01-05,ALFREDO CANELA,ELICAMEX,3,WRE-4885,BAN INOX 36MMØX25MM 150W 240V EXT30CM,496.35,27.43,27.43,1489.05,82.29,468.92,1406.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

### Noveno filtro

In [25]:
#Filtro con conector logico not, en este caso utilzamos la columna COSTO_TOTAL_CALCULADO y buscamos los valores que no sean menores a 100, asimismo, utilizamos la columna FECHA_DOC y buscamos que no coincidencia con la fecha 2022-12-23. Ambos parametros deben de cumplirse para guardar el registro
filtro9 = df[~(df["COSTO_TOTAL_CALCULADO"] < 100) & ~(df["FECHA_DOC"] == "2022-12-23")]
display(filtro9)

# Guardar filtro en CSV
filtro9.to_csv("./Filtros/Act1.1/Filtro9.csv")

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
6,F37044,2022-01-05,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,14000.00,5323.76,5323.76,14000.00,5323.76,8676.24,8676.24
7,F37046,2022-01-05,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,38.96,38.96,283.50,116.88,55.54,166.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1406,F39813,2022-12-22,LETICIA RAMIREZ HERNANDEZ,INGENIERIA DE PLASTICOS E IMPRESIONES,4,CAS00035,"CAR INOX 3/8""Øx8"" 900W, 240V CABLE 30CMS",759.00,0.00,681.52,3036.00,2726.10,77.48,309.90
1407,F39815,2022-12-22,ALFREDO CANELA,START SERVICE,1,RP00230,REPARACION DE PLANCHA DE CARTUCHOS 220V,5668.99,0.00,1319.88,5668.99,1319.88,4349.11,4349.11
1409,F39816,2022-12-22,ALFREDO CANELA,TOSTADAS FANNY,6,TUA00492,"TUB INOX 1/2""ØX40CM 4000W 220V ""M"" BUSH",2959.68,0.00,1186.76,17758.08,7120.54,1772.92,10637.54
1410,F39817,2022-12-22,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,TP0016,"TERMOPAR CERAMICO T/K"" LONG 24"" CAL 8""",732.00,0.00,317.50,1464.00,635.00,414.50,829.00
1411,F39820,2022-12-22,AARON NUÑO CORDOVA,ABASTECIMIENTOS Y SERVICIOS ELECTRONICOS PROFE...,1,TU5/16X230MM,"TUBULAR J"" 5/16"" 230MM 4500W 220V""",1000.00,226.23,226.23,1000.00,226.23,773.77,773.77